*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
h1{
    background-color: #081b31;
    color: white;
    height: 4rem;
    text-align: center;
    line-height: 5rem;
}
.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #000; */
}
 .choice:hover{
     background-color: yellowgreen;
    opacity: 0.5;
    cursor: pointer;
 }
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 30px;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font: bold;
    margin-top: 30px;
    gap: 3rem;
}
#user-score,#comp-score{
    font-size: 3rem;
    gap: 5rem;
}
.msg-container{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 35px;
}
#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 20px;
}